.version.about_us /* version checker */
{
	color: #0000E6;
	background-color: #7C0B5B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1654px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu602
{
	width: 0.01px;
	padding-bottom: 71px;
	margin-left: -473px;
}

#u602
{
	z-index: 79;
	width: 2354px;
	height: 71px;
	top: 0px;
	left: -373px;
}

#u603
{
	z-index: 80;
	top: 18px;
	left: 70px;
}

#menuu605
{
	z-index: 81;
	width: 489px;
	top: 21px;
	right: 33px;
}

#u613
{
	width: 120px;
	min-height: 34px;
	margin-right: -10000px;
}

#u616
{
	width: 120px;
	padding-bottom: 10px;
}

#u616.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u617
{
	height: 24px;
	width: 120px;
	margin-right: -10000px;
	top: 5px;
}

#u634
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 122px;
}

#u635
{
	width: 121px;
	padding-bottom: 10px;
}

#u620
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 245px;
}

#u621
{
	width: 121px;
	padding-bottom: 10px;
}

#u627
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 368px;
}

#u630
{
	width: 121px;
	padding-bottom: 10px;
}

#u635.MuseMenuActive,#u621.MuseMenuActive,#u630.MuseMenuActive
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u636,#u623,#u632
{
	height: 24px;
	width: 121px;
	margin-right: -10000px;
	top: 5px;
}

#pu1303
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u1303
{
	z-index: 52;
	width: 1480px;
	margin-right: -10000px;
}

#u1303_clip
{
	width: 1480px;
	height: 1272px;
}

#u1303_img
{
	margin-left: -90px;
	margin-right: -72px;
}

#u1346
{
	z-index: 54;
	width: 1162px;
	padding-top: 88px;
	padding-bottom: 37.19999999999982px;
	margin-right: -10000px;
	left: 158px;
}

#pu1364
{
	width: 0.01px;
	margin-left: 156px;
}

#u1364
{
	z-index: 77;
	width: 373px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu1351-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 488px;
}

#u1351-4
{
	z-index: 62;
}

#u1347-7
{
	z-index: 55;
	margin-top: 17px;
}

#u1529
{
	z-index: 66;
	width: 1162px;
	padding-bottom: 85px;
	margin-top: 111px;
}

#pu1353-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 63px;
	margin-left: 157px;
}

#u1353-4
{
	z-index: 71;
	margin-left: 1px;
}

#u1352-4
{
	z-index: 67;
	margin-top: 17px;
}

#u1358
{
	z-index: 75;
	width: 445px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 560px;
}

#u595
{
	z-index: 3;
	width: 1479px;
	height: 12px;
	left: -100px;
}

#pu597-4
{
	width: 0.01px;
	margin-left: 72px;
	margin-top: 66px;
}

#u597-4
{
	z-index: 4;
	margin-right: -10000px;
}

#u598-4
{
	z-index: 8;
	margin-right: -10000px;
	left: 387px;
}

#u594-4
{
	z-index: 12;
	margin-right: -10000px;
	margin-top: 2px;
	left: 638px;
}

#u1368-4
{
	z-index: 20;
	margin-right: -10000px;
	left: 881px;
}

#u596-4
{
	z-index: 16;
	margin-left: 710px;
	margin-top: 10px;
}

#pu592
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -167px;
}

#u592
{
	z-index: 2;
	width: 1479px;
	padding-bottom: 118px;
	margin-right: -10000px;
}

#u1646-11
{
	z-index: 32;
	margin-right: -10000px;
	margin-top: 124px;
	left: 172px;
}

#u1594
{
	z-index: 24;
	width: 52px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1039px;
}

#u1596
{
	z-index: 26;
	width: 58px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1098px;
}

#u1598
{
	z-index: 28;
	width: 50px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1162px;
}

#u1600
{
	z-index: 30;
	width: 60px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 1221px;
}

#u1647-9
{
	z-index: 43;
	margin-right: -10000px;
	margin-top: 124px;
	left: 559px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

