.version.index /* version checker */
{
	color: #000011;
	background-color: #2F2C9C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 2841px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -120px;
	width: 0.01px;
}

#pu234
{
	width: 0.01px;
	padding-bottom: 71px;
	margin-left: -100px;
}

#u234
{
	z-index: 98;
	width: 1540px;
	height: 71px;
	top: 0px;
	left: 0px;
}

#u224
{
	z-index: 99;
	top: 18px;
	left: 70px;
}

#menuu129
{
	z-index: 100;
	width: 489px;
	top: 21px;
	right: 33px;
}

#u137
{
	width: 120px;
	min-height: 34px;
	margin-right: -10000px;
}

#u140
{
	width: 120px;
	padding-bottom: 10px;
}

#u140.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	height: 24px;
	width: 120px;
	margin-right: -10000px;
	top: 5px;
}

#u377
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 122px;
}

#u378
{
	width: 121px;
	padding-bottom: 10px;
}

#u145
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 245px;
}

#u146
{
	width: 121px;
	padding-bottom: 10px;
}

#u152
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 368px;
}

#u155
{
	width: 121px;
	padding-bottom: 10px;
}

#u378.MuseMenuActive,#u146.MuseMenuActive,#u155.MuseMenuActive
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u379,#u149,#u158
{
	height: 24px;
	width: 121px;
	margin-right: -10000px;
	top: 5px;
}

#pu206
{
	width: 0.01px;
	margin-left: -100px;
}

#u206
{
	z-index: 2;
	width: 1479px;
	margin-right: -10000px;
}

#u206_clip
{
	width: 1479px;
	height: 842px;
}

#u206_img
{
	margin-top: -227px;
	margin-bottom: 83px;
}

#u252
{
	z-index: 4;
	width: 1479px;
	padding-bottom: 143px;
	margin-right: -10000px;
	margin-top: 759px;
}

#u253-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 99px;
	left: 127px;
}

#u255
{
	z-index: 9;
	width: 1479px;
	padding-bottom: 55px;
	margin-right: -10000px;
	margin-top: 1093px;
}

#pu263
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 165px;
}

#u263
{
	z-index: 10;
	width: 111px;
	margin-left: 58px;
}

#u298-4
{
	z-index: 26;
	margin-top: 9px;
}

#pu269
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 69px;
	margin-left: 445px;
}

#u269
{
	z-index: 12;
	width: 116px;
	margin-left: 48px;
}

#u296-4
{
	z-index: 22;
	margin-top: 15px;
}

#pu281
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 78px;
	margin-left: 769px;
}

#u281
{
	z-index: 14;
	width: 213px;
}

#u295-4
{
	z-index: 18;
	margin-top: 31px;
}

#pu287
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: 1079px;
}

#u287
{
	z-index: 16;
	width: 88px;
	margin-left: 62px;
}

#u299-4
{
	z-index: 30;
	margin-top: 5px;
}

#pu324-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -5px;
}

#u324-4
{
	z-index: 34;
	margin-right: -10000px;
	margin-top: 218px;
	left: 468px;
}

#u742
{
	z-index: 39;
	width: 1479px;
	margin-right: -10000px;
}

#u742_clip
{
	width: 1479px;
	height: 800px;
}

#u742_img
{
	margin-top: -186px;
}

#u337
{
	z-index: 38;
	width: 1077px;
	left: -100px;
	padding: 72px 201px 100.30000000000018px;
}

#u1679-4
{
	z-index: 90;
}

#buttonu1680
{
	z-index: 94;
	width: 231px;
	padding-bottom: 13px;
	margin-left: 404px;
	margin-top: 22px;
}

#buttonu1680:hover
{
	width: 231px;
	min-height: 0px;
	margin: 22px 0px 0px 404px;
}

#buttonu1680.ButtonSelected
{
	width: 231px;
	min-height: 0px;
	margin: 22px 0px 0px 404px;
}

#u1681
{
	z-index: 96;
	height: 24px;
	width: 119px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 54px;
}

#pu1429
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -24px;
}

#u1429
{
	z-index: 41;
	width: 1479px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1429_position_content
{
	margin-top: -4px;
	padding-bottom: 132px;
}

#u1430
{
	z-index: 42;
	width: 1479px;
	height: 12px;
}

#pu1431-4
{
	width: 0.01px;
	margin-left: 172px;
	margin-top: 67px;
}

#u1431-4
{
	z-index: 43;
	margin-right: -10000px;
}

#u1435-4
{
	z-index: 71;
	margin-right: -10000px;
	margin-top: 2px;
	left: 638px;
}

#u1437-4
{
	z-index: 78;
	margin-right: -10000px;
	left: 881px;
}

#pu1432-11
{
	width: 0.01px;
	margin-left: 172px;
	margin-top: 4px;
}

#u1432-11
{
	z-index: 47;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1632
{
	z-index: 82;
	width: 52px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 867px;
}

#u1634
{
	z-index: 84;
	width: 58px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 926px;
}

#u1636
{
	z-index: 86;
	width: 50px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 990px;
}

#u1638
{
	z-index: 88;
	width: 60px;
	margin-right: -10000px;
	left: 1049px;
}

#u1433-4
{
	z-index: 58;
	margin-right: -10000px;
	margin-top: 75px;
	left: 559px;
}

#u1434-9
{
	z-index: 62;
	margin-right: -10000px;
	margin-top: 122px;
	left: 559px;
}

#u1436
{
	z-index: 76;
	width: 220px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 810px;
}

#u1436_states
{
	height: 45px;
	width: 220px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 120px;
}

#page .verticalspacer
{
	clear: both;
}

