#u474
{
	background-color: #FFFFFF;
	position: fixed;
}

#u475
{
	position: fixed;
}

#menuu438
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u439,#u440
{
	background-color: transparent;
	position: relative;
}

#u441
{
	vertical-align: top;
	position: relative;
	background: url("../images/u441.png") no-repeat 0px 0px;
}

#u440:hover #u441
{
	background: url("../images/u441-r.png") no-repeat 0px 0px;
}

#u446,#u447
{
	background-color: transparent;
	position: relative;
}

#u448
{
	vertical-align: top;
	position: relative;
	background: url("../images/u448.png") no-repeat 0px 0px;
}

#u447:hover #u448
{
	background: url("../images/u448-r.png") no-repeat 0px 0px;
}

#u453,#u454
{
	background-color: transparent;
	position: relative;
}

#u455
{
	vertical-align: top;
	position: relative;
	background: url("../images/u455.png") no-repeat 0px 0px;
}

#u454:hover #u455
{
	background: url("../images/u455-r.png") no-repeat 0px 0px;
}

#u460,#u463
{
	background-color: transparent;
	position: relative;
}

#u466
{
	vertical-align: top;
	position: relative;
	background: url("../images/u466.png") no-repeat 0px 0px;
}

#u463:hover #u466
{
	background: url("../images/u466-r.png") no-repeat 0px 0px;
}

#u552
{
	background-color: #FFFFFF;
	position: relative;
}

#slideshowu979
{
	position: relative;
}

#u997
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);
}

#u987
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u990
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u990:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1050
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u990:hover img.shadow,#u1050:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1113
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1050:hover img.shadow,#u1113:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1122
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1113:hover img.shadow,#u1122:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1131
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1122:hover img.shadow,#u1131:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1140
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1131:hover img.shadow,#u1140:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1149
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1140:hover img.shadow,#u1149:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1158
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1149:hover img.shadow,#u1158:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1167
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1158:hover img.shadow,#u1167:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1181
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1167:hover img.shadow,#u1181:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1059
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1181:hover img.shadow,#u1059:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1068
{
	-pie-box-shadow: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1059:hover img.shadow,#u1068:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u1068:hover img.shadow
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u990_clip,#u1113_clip,#u1140_clip,#u1158_clip,#u1167_clip,#u1068_clip
{
	overflow: hidden;
}

#u981
{
	position: absolute;
	background-color: transparent;
}

#u982-4,#u1053-4,#u1116-4,#u1125-4,#u1134-4,#u1143-4,#u1152-4,#u1161-4,#u1170-4,#u1184-4,#u1062-4,#u1071-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u986-3
{
	position: absolute;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background: transparent url("../images/back.png") no-repeat left top;
	background-size: contain;
}

#u986-3:hover
{
	background: transparent url("../images/back2.png") no-repeat left top;
	background-size: contain;
}

#u994-3
{
	position: absolute;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background: transparent url("../images/forward.png") no-repeat left top;
	background-size: contain;
}

#u994-3:hover
{
	background: transparent url("../images/forward2.png") no-repeat left top;
	background-size: contain;
}

#u995
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
}

#u995:hover
{
	background-color: #999999;
}

#u995:active
{
	background-color: #6B6B6B;
}

#u996-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1395
{
	background-color: #00746F;
	position: relative;
}

#u1394
{
	background-color: #005759;
	position: relative;
}

#u1226,#u546,#u998,#u1047,#u1110,#u1119,#u1128,#u1137,#u1146,#u1155,#u1164,#u1178,#u1056,#u1065,#u1606,#u1608,#u1610,#u1612
{
	background-color: transparent;
	position: relative;
}

#u572-4,#u573-82,#u1396-4,#u1398-4,#u1400-4,#u1402-4,#u1401-4,#u1649-11,#u1650-9
{
	display: block;
	vertical-align: top;
	position: relative;
}

