.version.menu /* version checker */
{
	color: #000008;
	background-color: #C565EA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1734px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu474
{
	width: 0.01px;
	padding-bottom: 71px;
	margin-left: -473px;
}

#u474
{
	z-index: 254;
	width: 2354px;
	height: 71px;
	top: 0px;
	left: -373px;
}

#u475
{
	z-index: 255;
	top: 18px;
	left: 70px;
}

#menuu438
{
	z-index: 256;
	width: 489px;
	top: 21px;
	right: 33px;
}

#u439
{
	width: 120px;
	min-height: 34px;
	margin-right: -10000px;
}

#u440
{
	width: 120px;
	padding-bottom: 10px;
}

#u440.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u441
{
	height: 24px;
	width: 120px;
	margin-right: -10000px;
	top: 5px;
}

#u446
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 122px;
}

#u447
{
	width: 121px;
	padding-bottom: 10px;
}

#u453
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 245px;
}

#u454
{
	width: 121px;
	padding-bottom: 10px;
}

#u460
{
	width: 121px;
	min-height: 34px;
	margin-right: -10000px;
	left: 368px;
}

#u463
{
	width: 121px;
	padding-bottom: 10px;
}

#u447.MuseMenuActive,#u454.MuseMenuActive,#u463.MuseMenuActive
{
	width: 121px;
	min-height: 0px;
	margin: 0px;
}

#u448,#u455,#u466
{
	height: 24px;
	width: 121px;
	margin-right: -10000px;
	top: 5px;
}

#pu1226
{
	width: 0.01px;
	padding-bottom: 230px;
	margin-left: -101px;
}

#u1226
{
	z-index: 2;
	width: 1482px;
	margin-right: -10000px;
	margin-top: 366px;
	left: 1px;
}

#u546
{
	z-index: 4;
	width: 1482px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u552
{
	z-index: 6;
	width: 988px;
	margin-right: -10000px;
	left: 158px;
	padding: 33px 95px 403.0500000000002px 81px;
}

#u572-4
{
	z-index: 57;
}

#u573-82
{
	z-index: 61;
	margin-left: 3px;
	margin-top: 18px;
}

#slideshowu979
{
	z-index: 143;
	width: 0.01px;
	height: 573px;
	margin-right: -10000px;
	margin-top: 765px;
	left: 244px;
}

#u997popup
{
	z-index: 144;
}

#u997
{
	width: 982px;
	height: 468px;
	top: 67px;
	left: 9px;
}

#u998
{
	z-index: 145;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1047
{
	z-index: 147;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1110
{
	z-index: 149;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u998_img,#u1110_img
{
	padding-left: 255px;
	padding-right: 254px;
}

#u1119
{
	z-index: 151;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1047_img,#u1119_img
{
	padding-left: 144px;
	padding-right: 144px;
}

#u1128
{
	z-index: 153;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1137
{
	z-index: 155;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1146
{
	z-index: 157;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1146_img
{
	padding-left: 307px;
	padding-right: 306px;
}

#u1155
{
	z-index: 159;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1155_img
{
	padding-left: 162px;
	padding-right: 162px;
}

#u1164
{
	z-index: 161;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1164_img
{
	padding-left: 224px;
	padding-right: 224px;
}

#u1178
{
	z-index: 163;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1056
{
	z-index: 165;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1128_img,#u1178_img,#u1056_img
{
	padding-left: 334px;
	padding-right: 333px;
}

#u1065
{
	z-index: 167;
	width: 938px;
	height: 406px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u1137_img,#u1065_img
{
	padding-left: 199px;
	padding-right: 198px;
}

#u987popup
{
	z-index: 169;
}

#u987
{
	width: 981px;
	padding-bottom: 37px;
}

#u990
{
	z-index: 170;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	left: 45px;
}

#u990:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1050
{
	z-index: 172;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	left: 270px;
}

#u1050:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1113
{
	z-index: 174;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	left: 495px;
}

#u1113:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u990_img,#u1113_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u1122
{
	z-index: 176;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	left: 720px;
}

#u1122:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1131
{
	z-index: 178;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 182px;
	left: 45px;
}

#u1131:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 182px -10000px 0px 0px;
}

#u1140
{
	z-index: 180;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 182px;
	left: 270px;
}

#u1140:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 182px -10000px 0px 0px;
}

#u1149
{
	z-index: 182;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 182px;
	left: 495px;
}

#u1149:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 182px -10000px 0px 0px;
}

#u1158
{
	z-index: 184;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 182px;
	left: 720px;
}

#u1158:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 182px -10000px 0px 0px;
}

#u1158_img
{
	margin-left: -23px;
	margin-right: -22px;
}

#u1167
{
	z-index: 186;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 45px;
}

#u1167:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 364px -10000px 0px 0px;
}

#u1167_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u1181
{
	z-index: 188;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 270px;
}

#u1181:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 364px -10000px 0px 0px;
}

#u1059
{
	z-index: 190;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 495px;
}

#u1059:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 364px -10000px 0px 0px;
}

#u1068
{
	z-index: 192;
	width: 215px;
	height: 172px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 720px;
}

#u1068:hover
{
	width: 215px;
	height: 172px;
	min-height: 0px;
	margin: 364px -10000px 0px 0px;
}

#u990_clip,#u1113_clip,#u1140_clip,#u1158_clip,#u1167_clip,#u1068_clip
{
	width: 215px;
	height: 172px;
}

#u1140_img,#u1068_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u981popup
{
	z-index: 194;
}

#u981
{
	width: 340px;
	top: 796px;
	left: 322px;
}

#u982-4
{
	z-index: 195;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1053-4
{
	z-index: 199;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1116-4
{
	z-index: 203;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1125-4
{
	z-index: 207;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1134-4
{
	z-index: 211;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1143-4
{
	z-index: 215;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1152-4
{
	z-index: 219;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1161-4
{
	z-index: 223;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1170-4
{
	z-index: 227;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1184-4
{
	z-index: 231;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1062-4
{
	z-index: 235;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1071-4
{
	z-index: 239;
	width: 340px;
	min-height: 22px;
	margin-right: -10000px;
}

#u986-3popup
{
	z-index: 243;
}

#u986-3
{
	width: 38px;
	min-height: 38px;
	top: 268px;
	left: 11px;
}

#u986-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 38px;
	margin: 0px;
}

#u994-3popup
{
	z-index: 246;
}

#u994-3
{
	width: 41px;
	min-height: 39px;
	top: 281px;
	left: 947px;
}

#u994-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 41px;
	margin: 0px;
}

#u995
{
	width: 30px;
	padding-bottom: 5px;
	top: 131px;
	left: 1758px;
}

#u995:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u995:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u996-4
{
	z-index: 250;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1395
{
	z-index: 8;
	width: 1481px;
	height: 12px;
	left: -101px;
	top: -231px;
	margin-bottom: -12px;
}

#pu1396-4
{
	width: 0.01px;
	margin-left: 71px;
	margin-top: -153px;
}

#u1396-4
{
	z-index: 9;
	margin-right: -10000px;
}

#u1398-4
{
	z-index: 13;
	margin-right: -10000px;
	left: 387px;
}

#u1400-4
{
	z-index: 17;
	margin-right: -10000px;
	margin-top: 2px;
	left: 639px;
}

#u1402-4
{
	z-index: 25;
	margin-right: -10000px;
	left: 882px;
}

#u1401-4
{
	z-index: 21;
	margin-left: 710px;
	top: -105px;
	margin-bottom: -45px;
}

#pu1394
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: -227px;
}

#u1394
{
	z-index: 7;
	width: 1481px;
	padding-bottom: 121px;
	margin-right: -10000px;
}

#u1649-11
{
	z-index: 37;
	margin-right: -10000px;
	margin-top: 121px;
	left: 172px;
}

#u1606
{
	z-index: 29;
	width: 52px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1040px;
}

#u1608
{
	z-index: 31;
	width: 58px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1099px;
}

#u1610
{
	z-index: 33;
	width: 50px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 1163px;
}

#u1612
{
	z-index: 35;
	width: 60px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 1222px;
}

#u1650-9
{
	z-index: 48;
	margin-right: -10000px;
	margin-top: 120px;
	left: 559px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

